*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    font-family: 'Zilla Slab';
}

.container {
    width: 50%;
    /* height: 90vh; */
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


/* text wrapper that we type in that */

.text-wrapper {
    width: 100%;
    height: 300px;
    resize: none;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px;
    background: #fff;
    color: #222;
}


/* keyboard wrapper  */

.keyboard-wrapper {
    padding: 20px 30px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(-200px);
    z-index: -1;
}


/* show keaboard wrapper */

.show-keyboard-wrapper {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}

.keyboard-wrapper .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* every letter of keyboard */

.keyboard-wrapper .row .char {
    width: 50px;
    height: 50px;
    background: #ccc;
    color: #000;
    margin: 6px;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: -2px 3px 1px 1px #8d8d8d;
    user-select: none;
}

.keyboard-wrapper .row .char:active {
    transform: scale(0.9);
    background: #b6b6b6;
}

.keyboard-wrapper .row .char.space-char {
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #34c534;
}


/* space text sign */

.keyboard-wrapper .row .char.space-char span {
    transform: rotate(90deg);
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
}


/* keyboard icon to show or hide keyboard wrapper */

.keyboard-icon {
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 1rem 0;
}


/* button wiche clear all text wrapper */

.clear-btn {
    background: #ff0037 !important;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn:active {
    background: #da0332 !important;
}


/* delete last letetr button */

.back-btn {
    width: 50px !important;
    background: #555 !important;
    color: #fff !important;
}


/* go new line button */

.nextLine-btn {
    width: 100px !important;
    background: #555 !important;
    color: #fff !important;
}

.nextLine-btn i {
    transform: rotate(90deg);
}


/***************** Responsive **************/

@media screen and (max-width: 900px) {
    .container {
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .container {
        width: 90%;
    }
}